<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      WALLPAPER GALLLERY
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">WALLPAPER GALLLERY</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Mis wallpapers</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <img src="../../assets/icon/tren.jpg">
      <img src="../../assets/icon/anime.jpg">
      <img src="../../assets/icon/cat.jpg">
      <img src="../../assets/icon/gato.jpg">
    </ion-card-content>
  </ion-card>
</ion-content>
